<!DOCTYPE html>
    <html>
        <head> 
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Real Estate Site | Add a Listing</title>
            <meta name="description" content="Find homes within safe counties in Florida.">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="../static/css/styles.css"/>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">  
        </head>

        <nav class="navbar">
            <a class="logo nav-options" href="www.google.com">Logo</a>
            <a class="nav-options" href="www.google.com">crime map</a>
            <a class="nav-options" href="www.google.com">buy</a>
            <a class="nav-options" href="www.google.com">sell</a>
            <a class="join nav-options" href="www.google.com">join / signup</a>
        </nav>

        <body class="wrapper-home">
            <div class="listing-header">   
                <h1>Add a Listing </h1>
            </div>

            <div class="form-wrapper">
                <div class="form">
                    <form action = "{{ url_for('addlisting') }}" method = "POST">
                        <div>
                            <p>Price:</p>
                            <input type = "number" name = "price" />
                        </div>

                        <div>
                            <p>Total sqft:</p>
                            <input type = "number" name = "sqft" />
                        </div>
                        
                        <div>
                            <p># Bedrooms:</p>
                            <input type = "number" name = "numbeds" />
                        </div>
                    
                        <div>
                            <p># Full Baths:</p>
                            <input type = "number" name = "numfullbaths" />
                        </div>
                        
                        <div>
                            <p># Half Baths:</p>
                            <input type = "number" name = "numhalfbaths" />
                        </div>

                        <div>
                            <p>Year Built:</p>
                            <input type = "number" name = "yearbuilt" />
                        </div>

                        <div>
                            <p>Style: </p>
                            <input type = "text" name = "style" />
                        </div>

                        <div>
                            <p>Price Per Sqft:</p>
                            <input type = "number" name = "pricepersqft" />
                        </div>

                        <div>
                            <p>Street:</p>
                            <input type = "text" name = "street" />
                        </div>

                        <div>
                            <p>City:</p>
                            <input type = "text" name = "city" />
                        </div>

                        <div>
                            <p>Unit:</p>
                            <input type = "text" name = "unit" />
                        </div>

                        <div>
                            <p>Zip Code:</p>
                            <input type = "number"  name = "zipcode" />
                        </div>
        
                        <div>
                            <p>Photo URL:</p>
                            <input type = "url" name = "photourl" />
                        </div>
                        
                        <div class="submit">
                            <input class="submit-button" type = "submit" value = "Submit" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="delete-header">
                <h1>Delete a Listing</h1>
            </div>

            <div class="form-wrapper">
                <div class="form">
                    <form action="" method="POST">
                        <div>
                            <p>Listing ID:</p>
                            <input type = "number" name = "price" />
                        </div>
                        <div class="submit">
                            <input class="submit-button" type = "submit" value = "Submit" />
                        </div>
                    </form>
                </div>
            </div>
            
        </body>
    </html>