<!DOCTYPE html>
    <html>
        <head> 
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Real Estate Site | Add a Listing</title>
            <meta name="description" content="Find homes within safe counties in Florida.">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="../static/css/styles.css"/>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">  
        </head>

        <nav class="navbar">
            <a class="logo nav-options" href="/">SafeHomes</a>
            <a class="nav-options" href="/crimemap">crime map</a>
            <a class="nav-options" href="/viewlistings">buy/rent</a>
            <a class="nav-options" href="/addlisting">sell</a>
            <a class="join nav-options" href="https://github.com/carlyswe/cop4710proj" target="_blank">github</a>
        </nav>

        <body class="wrapper-home">
            <div class="listing-header">
                <h1>Delete a Listing</h1>
            </div>

            <div class="message">
                <div class="msg">
                    {{ msg }}
                </div>
            </div>

            <div class="form-wrapper">
                <div class="form delete">
                    <form action="" method="POST">
                        <div>
                            <p>Listing ID:</p>
                            <input type = "number" name = "listingID" required/>
                        </div>
                        <div class="submit">
                            <input class="submit-button" type = "submit" value = "Submit" />
                        </div>
                    </form>
                </div>
            </div> 
        </body>

        <footer class="footer">
            <div class="footer-text">
                <p>© Copyright SafeHomes 2024 </p>
            </div>
        </footer>
    </html>