<!DOCTYPE html> 
<html>
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Real Estate Site</title>
        <meta name="description" content="Find homes within safe counties in Florida.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
                
    </head>

    <nav class="navbar">
        <a class="logo nav-options" href="www.google.com">Logo</a>
        <a class="nav-options" href="www.google.com">crime map</a>
        <a class="nav-options" href="www.google.com">buy</a>
        <a class="nav-options" href="www.google.com">sell</a>
        <a class="join nav-options" href="www.google.com">join / signup</a>
    </nav>

    <div class="wrapper-home">
        <div class="body-home">
            <div class="hero">
                <div class="hero-house">
                    <img src="/Website/Images/homepage-house.jpg" alt="Home Image"/>
                    <h1>Your <span class="italicize highlight">Safest</span></h1>
                    <h1>Future Home</h1>
                </div>

                <div class="showcase">
                    <div class="family-wrapper">
                        <div class="family-img">
                            <img src="/Website/Images/family-house.jpg" alt="family around house"/>
                        </div>
                        <div class="family-text"> 
                            <h2>Find dream homes within safe neighborhoods.</h2>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto aliquam quos dolorem commodi tenetur tempora velit, quasi iure repellendus nesciunt nemo aut cumque totam adipisci eligendi officia et corporis! Quae.</p>
                        </div>
                    </div>

                    <div class="divide-block">
                        <img class="house-img" src="/Website/Images/home.png" alt="house"/>
                        <p>Your perfect home a click away.</p>
                    </div>

                    <div class="selections">
                        <a class="button" href="www.google.com">Search Houses</a>
                        <a class="button" href="www.google.com">Edit Listings</a>
                        <a class="button" href="www.google.com">Crime Map</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="footer-text">
                    <p>© Copyright LOGO NAME </p>
                </div> 
            </footer> 
        </div>
    </div>
</html>