<!DOCTYPE html>
    <html>
        <head> 
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Real Estate Site | Home Details</title>
            <meta name="description" content="Find homes within safe counties in Florida.">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="../static/css/styles.css"/>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">  
        </head>

        <nav class="navbar">
            <a class="logo nav-options" href="www.google.com">Logo</a>
            <a class="nav-options" href="www.google.com">crime map</a>
            <a class="nav-options" href="www.google.com">buy</a>
            <a class="nav-options" href="www.google.com">sell</a>
            <a class="join nav-options" href="www.google.com">join / signup</a>
        </nav>

        <body class="wrapper-home">
            <div class="home-image">
                <div class="home-box">
                        <img class="house-photo"></img>
                        <div class="house-info">
                        <div>
                            <h2 class="price">$200,000 </h2>
                            <h2 class="address">123 Pensacola St</h2>
                        </div>
                        <div>
                            <h2 class="num-bed">3</h2>   
                            <h2 class="bed">bed</h2> 
                        </div>
                        <div>
                            <h2 class="num-bath">2</h2>
                            <h2 class="bath">bath</h2>
                        </div> 
                        <div>
                            <h2 class="num-sqft">1,500</h2>
                            <h2 class="sqft">sqft</h2>
                        </div> 
                     </div>  
                </div>
            </div>

            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ratione, doloremque a 
                    expedita sunt debitis soluta reprehenderit minima dolores dicta, maiores molestiae doloribus
                    eos amet ea perferendis pariatur laboriosam voluptates? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Unde ratione, doloremque a expedita sunt debitis soluta reprehenderit minima dolores dicta, maiores molestiae doloribus
                    eos amet ea perferendis pariatur laboriosam voluptates?</p>
            </div>

            <div class="facts">
                <h3>Facts and Features </h3>
            </div>

            <div class="interior">
                <p>Features</p>
                <div class="interior-info">
                    <div class="bed-bath">
                        <ul>Bedrooms and Bathrooms</ul>
                        <li>Bedrooms: </li>
                        <li>Bathrooms: </li>
                        <li>Full Bathrooms: </li>
                    </div>
            
                    <div class="square-feet">
                        <ul>Square Feet</ul>
                        <li>1,500 sqft</li>
                    </div>

                    <div class="exterior">
                        <ul>Exterior</ul>
                        <li>1 story</li>
                        <li>Parking Garage: </li>
                    </div>

                    <div class="other">
                        <ul>Other</ul>
                        <li>Year Built: </li>
                        <li>HOA Fee: </li>
                        <li>Price Per Sqft: </li>
                    </div>

                    <div class="property">
                        <ul>Property URL</ul>
                        <li>www.google.com</li>
                    </div>
                </div>
            </div>


            <div class="schools">
                <p>Schools</p>
            </div>

            <div class="school-info">
                <div class="ratings">
                    <p class="ratings-p">Ratings</p>
                    <div class="school-name">
                        <div class="grade">
                            <p class="letter">A</p>
                            <p>Leon High School</p>
                        </div>
    
                        <div class="grade">
                            <p class="letter">A</p>
                            <p>Godby High School</p>
                        </div>
                    </div>
                    
                </div>
    
                <div class="district">
                    <img src="/Website/Images/school.png" alt="school-img"/> 
                    <div class="district-info">
                        <p>School District: </p>
                        <p>Leon County</p>
                    </div>
                </div>
            </div>
        
        </body>

    </html>