<!DOCTYPE html>
    <html>
        <head> 
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Real Estate Site | Home Details</title>
            <meta name="description" content="Find homes within safe counties in Florida.">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="../static/css/styles.css"/>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">  
        </head>

        <nav class="navbar">
            <a class="logo nav-options" href="/">SafeHomes</a>
            <a class="nav-options" href="/crimemap">crime map</a>
            <a class="nav-options" href="/viewlistings">buy</a>
            <a class="nav-options" href="/addlisting">sell</a>
            <a class="join nav-options" href="https://github.com/carlyswe/cop4710proj" target="_blank">github</a>
        </nav>



        <body class="wrapper-home">
            <div class="home-image">
                <div class="home-box">
                        <img class="hero-photo" src="{{ houseinfo["photo"] }}" alt="house"/>

                        <div class="house-info">
                        <div>
                            <h2 class="price">${{ "{:,.2f}".format(houseinfo["price"]) }} </h2>
                            <h2 class="address">{{houseinfo["street"]}} </h2>
                            <h2 class="city">{{ houseinfo["city"] }}</h2>
                            <h2 class = "zipcode">{{ houseinfo["ZipCode"] }} </h2>
                        </div>
                        <div>
                            <h2 class="num-bed">{{houseinfo["beds"] }}</h2>
                            <h2 class="bed">bed</h2> 
                        </div>
                        <div>
                            <h2 class="num-bath">{{ houseinfo["full_baths"] }}</h2>
                            <h2 class="bath">bath</h2>
                        </div> 
                        <div>
                            <h2 class="num-bath">{{ houseinfo["half_baths"] }}</h2>
                            <h2 class="half-bath">half-bath</h2>
                        </div> 
                        <div>
                            <h2 class="num-sqft">{{ "{:,}".format(houseinfo["sqft"]) }}</h2>
                            <h2 class="sqft">sqft</h2>
                        </div> 
                     </div>  
                </div>
            </div>

            <div class="modify-listing">
                <div class="edit-button">
                    <a class="edit" href ='{{url_for('editlisting',listingID=houseinfo['listingID'])}}'> Edit Listing </a>
                </div>
                <div class="delete-button">
                    <a class="delete" href='{{url_for('deletedirectlisting', listingID=houseinfo['listingID'])}}'> Delete Listing </a>
                </div> 
            </div>

            <div class="facts">
                <h3>Facts and Features </h3>
            </div>

    

            <div class="interior">
                <p>Features</p>
                <div class="interior-info">
                    <div class="bed-bath">
                        <ul>Bedrooms and Bathrooms</ul>
                        <li >Bedrooms: {{ houseinfo["beds"]}} </li>
                        <li>Full Bathrooms: {{ houseinfo["full_baths"] }}</li>
                        <li>Half Bathrooms:  {{ houseinfo["half_baths"] }} </li>
                    </div>
            
                    <div class="square-feet">
                        <ul>Square Feet</ul>
                        <li>{{ "{:,}".format(houseinfo["sqft"]) }}</li>
                    </div>

                    <div class="other">
                        <ul>Other</ul>
                        <li>Year Built: {{ houseinfo["year_built"] }}</li>
                    </div>

                    <div class="property">
                        <ul>Property URL</ul>
                        <li>{{ houseinfo["property_url"] }}</li>
                    </div>
                </div>
            </div>


            <div class="schools">
                <p>Schools</p>
            </div>

            <!-- The formatting error was caused by where the Flask statements were inserted here -->
            <div class="school-info">
                <div class="ratings">
                    <p class="ratings-p">Ratings</p>
                    {%for school in schools%}
                    <div class="school-name">
                        <div class="grade">
                            <p class="letter">{{ school["Grade2022"] }}</p>
                            <p>{{ school["SchoolName"] }}</p>
                        </div>
                        
                    </div>
                    {%endfor%}
                </div>
                
    
                <div class="district">
                    <img src="/static/images/school.png" alt="school-img"/>
                    <div class="district-info">
                        <p>School District: </p>
                        <p>{{ districtname }}</p>
                    </div>
                </div>
            </div>

            <div class="crime-reports-header">
                <p>{{ districtname }} Crime Data</p>
            </div>

            <div class="crime-reports">
                <div class="crime-head-container">
                    <p class="crime-head"> {{ districtname }} Crime Data</p>
                </div>
                <div class="crime-container">   
                    <div class="crime-box">
                        <p class="box-text-1">Total Arrests</p>
                        <p class="box-text-2"> {{ "{:.0f}".format(crime["Total_Arrests"]) }}</p>
                        <p class="box-text-3">(for all crimes)</p>
                    </div>

                    <div class="crime-box">
                        <p class="box-text-1">Safety Grade</p>
                        <p class="box-text-2"> {{crime["crimeGrade"]}}</p>
                        <p class="box-text-3">(A-F ratings)</p>
                    </div>

                    <div class="annual-crime-box">
                        <p class="annual-text-1">Annual Crime Rate</p>
                        <div class="grid">
                            <div>
                                <p>Total Arrests</p>
                                <p> {{"{:.0f}".format(crime["Total_Arrests"]) }} </p>
                            </div>
                            <div>
                                <p>Manslaughter</p>
                                <p>{{ "{:.0f}".format(crime["Manslaughter"]) }}</p>
                            </div>
                            <div>
                                <p>Assault</p>
                                <p> {{ "{:.0f}".format(crime["Simple_Assault"]) }} </p>
                            </div>
                            <div>
                                <p>Robbery</p>
                                <p>{{ "{:.0f}".format(crime["Larceny"]) }}</p>
                            </div>
                            <div>
                                <p>Kidnapping</p>
                                <p>{{ "{:.0f}".format(crime["Kidnap_Abduction"]) }}</p>
                            </div>
                            <div>
                                <p>Burglary</p>
                                <p>{{ "{:.0f}".format(crime["Burglary"]) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="footer-text">
                    <p>© Copyright SafeHomes 2024 </p>
                </div>
            </footer>
        
        </body>

    </html>