<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Real Estate Site | View Listings</title>
    <meta name="description" content="Find homes within safe counties in Florida.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArM8eZGIDj8IzGYkEUwh1dC6y9-HrfdZ4"></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 27.994402, lng: -81.760254},
                zoom: 10
            });

            {% for row in rows %}
            var marker = new google.maps.Marker({
                position: { lat: {{ row['latitude'] }}, lng: {{ row['longitude'] }} },
                map: map,
                title: "{{ row['street'] }}",
                icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 5,
                fillColor: 'blue',
                fillOpacity: 1,
                strokeWeight: 0
                }
            });

            marker.addListener('click', function() {
                window.location.href = "{{ url_for('house', listingID=row['listingID']) }}";
            });
            {% endfor %}
        }
    </script>
</head>

<nav class="navbar">
    <a class="logo nav-options" href="/">SafeHomes</a>
    <a class="nav-options" href="/crimemap">crime map</a>
    <a class="nav-options" href="/viewlistings">buy</a>
    <a class="nav-options" href="/addlisting">sell</a>
    <a class="join nav-options" href="https://github.com/carlyswe/cop4710proj" target="_blank">github</a>
</nav>

<body class="wrapper-home" onload="initMap()">
    <div id="map" style="height: 400px;"></div>

    <div class="filter-header">
        <h1>Filter Options</h1>
    </div>

    <div class="filter-wrapper">
        <div class="filter-options">
            <form action = "{{ url_for('viewListings') }}" method = "POST">
            <div class="filter-title">
                <h1>Select a city, school district grade, or county safety grade:</h1>
            </div>

            <div class="filter-dropdowns">
                <div class="city">
                    <h3 class="filter-subject">City</h3>
                    <select id="city" class="drop" name="city">
                        <option value="all">All Cities</option>
                        {% for city in cities %}
                            <option value = {{city[ "City"] }} > {{city[ "City"] }} </option>
                        {% endfor %}
                    </select>
                </div>
                
                <p class="or">OR</p>

                <div class="school-district">
                    <h3 class="filter-subject">School District Grade</h3>
                    <select id="schoolGrade" class="drop" name="schoolGrade">
                        <option value="all">All Grades</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="F">F</option>
                    </select>
                </div>
                

                <div class="safety-grade">
                    <h3 class="filter-subject" for="safetyGrade">Safety Grade </h3>
                    <select id="safetyGrade" class="drop" name ="safetyGrade">
                        <option value="all">All Grades</option>
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="C+">C+</option>
                        <option value="C">C</option>
                        <option value="C-">C-</option>
                        <option value="D+">D+</option>
                        <option value="D">D</option>
                        <option value="D-">D-</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>

                <div class="generate">
                    <button class="generate-button" type="submit">Generate Listings</button>
                </div>
            </form>
        </div>
    </div>

    <div class="num-listings">
        <h3>{{ numlistings[0] }} listings matching</h3>
    </div>
    

    <div class="houses">
        {% for row in rows %}
        <div class="house-container">
            <a href="{{ url_for('house', listingID=row['listingID']) }}" class="house-option">
                <img src="{{ row['photo'] }}" alt="house" onerror="console.log('Error loading image: ' + this.src)"/>
                <div>
                    <p class="view-price">${{ row["price"] }}</p>
                    <ion-icon name="heart">
                        <div class='red-bg'></div>
                    </ion-icon>
                </div>
                <p class="view-address">{{ row["street"] }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>

<footer class="footer">
    <div class="footer-text">
        <p>© Copyright SafeHomes 2024</p>
    </div>
</footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
